openapi: 3.1.0
info:
  title: LibertyNet API
  version: 1.0.0
  summary: >-
    Node discovery, operator identity, node↔operator binding, and the coordination loop that
    turns an Intent into a delivered Result and a signed Receipt.
  description: |
    The LibertyNet public API. Everything documented here with `x-ln-status: implemented` is
    live right now and was probed on the date recorded in `api-spec/status.json`.

    ## Current scope

    Two live surfaces, and they are different hosts because they are different services:

    | Surface | Base URL | What it does |
    |---|---|---|
    | Registry | `https://registry.libertynet.ai` | Discovery, operator identity, node binding. |
    | Coordination | `https://libertynet.ai/coordination` | Intent → Proposal → Commitment → authorize → Result → Receipt, executed on a real provider fleet. |

    Coordination is **implemented and callable today**, not planned: `POST /v1/intents` opens a
    session, `POST /v1/sessions/{session_id}/authorize` runs the work on a real node, and
    `GET /v1/sessions/{session_id}/receipt` returns a Receipt naming the provider that did it.
    Earlier revisions of this document described that loop as unbuilt. It is built, and there is
    an application using it: `https://libertynet.ai/compute` is the Compute App, which reaches
    the platform over exactly these public endpoints and no private ones.

    Two things the Receipt does **not** mean. The `settlement.amount` it carries is an
    accounting record: fuel settlement is deliberately unwired on this deployment (no rate card
    is provisioned) so no delivery is charged and no value moves. And the coordinator identity
    is stable but not yet endorsed under the operator key hierarchy.

    Coordination is not the same thing as the **trading** intents under
    [Intents](/concepts/intents) — those are `planned`, have no endpoint, and are unrelated to
    the coordination Intent described here.

    ## Honesty contract

    Every operation carries an `x-ln-status` extension. The portal renders it as a badge and
    never overrides it:

    | Status | What it means |
    |---|---|
    | `implemented` | Live on a public endpoint. Call it today. |
    | `not_yet_wired` | The endpoint is live and returns `200`, but its data source is not connected. It returns zeros/empties **plus** `"source": "not_yet_wired"`. Safe to read; the numbers are not earnings. |
    | `testing` | Code exists and its tests pass, but there is no public endpoint. |
    | `planned` | Designed, not built. There is nothing behind it. |

    `planned` operations are listed so you can see where the network is going. They are **not**
    callable and the SDKs raise a typed `NotYetWiredError` instead of pretending.

    ## Authentication

    Discovery is public — no key, no signup. Operator endpoints use a signature-based login:
    fetch a challenge, sign it with your **device key**, exchange it for a 1-hour bearer session.
    There is no password anywhere in this API, so there is nothing to phish and nothing to stuff.

    ## What this API deliberately does not do

    There is no endpoint that moves value. No wallet, no swap, no staking, no token transfer.
    Credits are a **test unit** — not cash, and not a claim on future value.
  contact:
    name: LibertyNet developer support
    url: https://docs.libertynet.ai/community
  license:
    name: See repository
    url: https://github.com/LibertyNetHQ/libertynet-dev-portal

servers:
  - url: https://registry.libertynet.ai
    description: Production registry (live)
  - url: https://libertynet.ai/coordination
    description: |
      Public coordination gateway (live). Discovery, identity and binding are on the registry;
      the coordination operations are here. Every path under this server carries its own
      `servers` entry, so a generated client routes each operation correctly without the caller
      having to know which host is which.

tags:
  - name: Discovery
    description: Find nodes on the network. Public, no authentication.
  - name: Identity
    description: Operator login by signature. No passwords.
  - name: Binding
    description: The double-signature handshake that binds a node to an operator.
  - name: Node
    description: Endpoints a node daemon calls on its own behalf.
  - name: Economics
    description: Credits and contribution evidence. Live endpoints, unconnected data sources.
  - name: Coordination
    description: |
      Ask the network to do work: Intent → Proposal → Commitment → authorize → Result → Receipt.
      Every operation is authenticated by a signed envelope, reads included, and the settlement
      figure on a Receipt is an accounting record — it moves no value.

paths:
  /health:
    get:
      operationId: getHealth
      summary: Registry liveness
      description: |
        The cheapest possible first call. No key, no headers, no body. If this returns `200`,
        you are talking to the network.
      tags: [Discovery]
      security: []
      x-ln-status: implemented
      responses:
        '200':
          description: Registry is up.
          content:
            application/json:
              schema:
                type: object
                required: [status, service, count]
                properties:
                  status: { type: string, const: ok }
                  service: { type: string, example: libertynet-registry-standalone }
                  count:
                    type: integer
                    description: Number of nodes currently in the registry table.
                    example: 27
              examples:
                live:
                  summary: Real response, probed 2026-07-31
                  value: { status: ok, service: libertynet-registry-standalone, count: 27 }

  /nodes:
    get:
      operationId: listNodes
      summary: List all registered nodes
      description: |
        The full node table. This is how you discover who is on the network and what they can do.

        `last_seen` is the honest freshness signal — a node that stopped heart-beating stays in
        the table with a stale `last_seen`. Do not treat presence in this list as "online";
        compare `last_seen` against now yourself, or use
        [`GET /v1/operator/me/nodes`](#operation/getOperatorNodes) which computes `online` for you.
      tags: [Discovery]
      security: []
      x-ln-status: implemented
      parameters:
        - name: callable
          in: query
          required: false
          schema: { type: string, enum: ['1', 'true'] }
          description: |
            Return only nodes that are **publicly reachable and carry a registration
            signature** — the honest answer to "who can I actually call".

            Most records are neither: of 28 nodes today, 4 advertise RFC1918 addresses and
            13 advertise `node://someones-laptop` labels. Those are real to their operator
            and unreachable from anywhere else. Filtering is opt-in so existing consumers
            keep seeing the complete feed.
      responses:
        '200':
          description: The node table.
          content:
            application/json:
              schema:
                type: object
                required: [count, nodes]
                properties:
                  count: { type: integer, example: 27 }
                  nodes:
                    type: array
                    items: { $ref: '#/components/schemas/NodeRecord' }
              examples:
                live:
                  summary: Real response (one node shown), probed 2026-07-31
                  value:
                    count: 27
                    nodes:
                      - did: 'did:svrp:df9d4b9f390bc49b2210eca81ca3c54c4d63b37b739442a21e28f2ed5b8aa02d'
                        public_key: df9d4b9f390bc49b2210eca81ca3c54c4d63b37b739442a21e28f2ed5b8aa02d
                        endpoint: 172.20.10.5:55785
                        capabilities: [inference, 'health:ready']
                        region: asia-southeast
                        status: active
                        last_seen: '2026-07-31T16:33:08Z'
                        first_seen: '2026-07-28T11:49:46Z'

  /peers:
    get:
      operationId: listPeersText
      summary: List peers as plain text
      description: |
        One peer per line: `<did> <public_key> <endpoint>`. Exists for shell tooling that would
        rather not depend on a JSON parser. Prefer [`/nodes`](#operation/listNodes) in code.
      tags: [Discovery]
      security: []
      x-ln-status: implemented
      responses:
        '200':
          description: Newline-delimited peer list.
          content:
            text/plain:
              schema: { type: string }
              examples:
                live:
                  value: |
                    did:svrp:n:268d4fe0 7441yUYc1qmWVkAAUrPapKC13MXusEqDvvQJ1Pw5NNfg 34.21.237.177:4001
                    did:svrp:n:5af1b351 8xbsLtBacNvgr3sBwguKExAwEFuGNAQQG54qQKwPshtv 35.241.69.59:4001

  /api/v1/peers:
    get:
      operationId: listPeers
      summary: List peers (JSON envelope)
      tags: [Discovery]
      security: []
      x-ln-status: not_yet_wired
      responses:
        '200':
          description: Peer list wrapped in the standard envelope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { type: array, items: { $ref: '#/components/schemas/NodeRecord' } }
                  error: { type: [string, 'null'] }

  /api/v1/register:
    post:
      operationId: registerNode
      summary: Register a node
      description: |
        A node announces itself to the registry. You normally do **not** call this by hand —
        `ln-node` does it for you on startup. It is documented because self-hosted and
        experimental nodes need the exact contract.

        Signature verification runs in grace mode: a malformed signature is recorded rather than
        rejected outright during the beta. Do not rely on that staying true.
      tags: [Discovery]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '200':
          description: Registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data: { $ref: '#/components/schemas/NodeRecord' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/v1/heartbeat:
    post:
      operationId: heartbeatNode
      summary: Refresh a node's last_seen
      description: |
        Keeps a node's `last_seen` fresh, which is what makes it show as `online` to its operator.
        `ln-node` sends this on an interval; a node that stops sending it goes stale, not deleted.
      tags: [Discovery]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [did]
              properties:
                did: { $ref: '#/components/schemas/Did' }
                public_key: { $ref: '#/components/schemas/PublicKeyHex' }
      responses:
        '200':
          description: Heartbeat accepted.
          content:
            application/json:
              schema:
                type: object
                properties: { ok: { type: boolean } }

  /v1/auth/challenge:
    post:
      operationId: createAuthChallenge
      summary: Get a login challenge
      description: |
        Returns a single-use random challenge with a 300-second TTL. You sign it with your device
        key and hand it back to [`/v1/auth/device-login`](#operation/deviceLogin). The challenge is
        consumed on success and cannot be replayed.
      tags: [Identity]
      security: []
      x-ln-status: implemented
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: A fresh challenge.
          content:
            application/json:
              schema:
                type: object
                required: [challenge, expires_in]
                properties:
                  challenge:
                    type: string
                    description: Base58, 24 random bytes.
                    example: 7xyZt3pE8DSp6JzsSpRMc7o8PSUsH5R2P
                  expires_in: { type: integer, const: 300, description: Seconds. }

  /v1/auth/device-login:
    post:
      operationId: deviceLogin
      summary: Exchange a signed challenge for a bearer session
      description: |
        The registry verifies, in this order, and rejects at the first failure:

        1. **id-binding** — that `operator_root_public_key` actually derives `operator_did`.
        2. the DeviceCredential's own signature by the operator root key;
        3. that the DeviceCredential is inside its validity window;
        4. your signature over the challenge, by the device key the credential names.

        A valid signature is not a valid identity. Step 1 is not optional and not reorderable.

        On success you get a bearer token good for one hour. It is a session, not an API key:
        it is not listed anywhere, not recoverable, and expires on its own.
      tags: [Identity]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_credential, challenge, issued_at, signature]
              properties:
                device_credential: { $ref: '#/components/schemas/DeviceCredential' }
                challenge: { type: string, description: Verbatim from /v1/auth/challenge. }
                issued_at: { $ref: '#/components/schemas/Rfc3339Utc' }
                signature:
                  type: string
                  description: Base58 Ed25519 signature by `device_credential.device_public_key`.
      responses:
        '200':
          description: Logged in.
          content:
            application/json:
              schema:
                type: object
                required: [session_token, operator_did, expires_in]
                properties:
                  session_token: { type: string, description: 'Bearer token. Send as `Authorization: Bearer <token>`.' }
                  operator_did: { $ref: '#/components/schemas/Did' }
                  expires_in: { type: integer, const: 3600 }
        '401':
          description: |
            Rejected. `code` tells you which gate failed: `BAD_CHALLENGE`, `DC_ID_BINDING`,
            `DC_BAD_SIGNATURE`, `DC_EXPIRED`, `BAD_SIGNATURE`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/operator/me/nodes:
    get:
      operationId: getOperatorNodes
      summary: List the nodes bound to you
      description: |
        Every node bound to the authenticated operator, with a computed `online` flag and the
        authorization limits that were agreed at binding time.

        Note the DID subtlety this endpoint resolves for you: a binding is stored under the node's
        short `did:svrp:n:<8hex>` form, but a running daemon announces itself under its full
        `did:svrp:<64hex>` form. Same key, two encodings. This endpoint reconciles them and returns
        the freshest live record.
      tags: [Identity]
      x-ln-status: implemented
      responses:
        '200':
          description: Your nodes.
          content:
            application/json:
              schema:
                type: object
                required: [operator_did, count, nodes]
                properties:
                  operator_did: { $ref: '#/components/schemas/Did' }
                  count: { type: integer }
                  nodes:
                    type: array
                    items: { $ref: '#/components/schemas/BoundNode' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/operator/me/credits:
    get:
      operationId: getOperatorCredits
      summary: Read your Credits balance
      description: |
        **This endpoint is live and returns `200`, but no credits ledger is connected to it.**
        It returns `settled`, `pending` and `estimated` all equal to `0`, together with
        `"source": "not_yet_wired"`.

        That field is the contract. If your UI shows a balance, it must check `source` and say
        "not connected yet" rather than render `0` as an earned amount. The SDKs enforce this:
        reading `.settled` on a `not_yet_wired` response raises rather than returning a
        misleading zero.

        Credits are a **test unit**. Not cash. Not redeemable. Not a claim on future value.
      tags: [Economics]
      x-ln-status: not_yet_wired
      responses:
        '200':
          description: Balance envelope — see `source` before believing any number.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreditsBalance' }
              examples:
                live:
                  summary: Real response today
                  value:
                    operator_did: 'did:svrp:o:<your-operator-id>'
                    unit: test-credit
                    disclaimer: 测试单位，非现金，不代表未来可兑换价值。
                    settled: { amount: 0, meaning: '已入账：由 Evidence 验证与结算系统确认' }
                    pending: { amount: 0, meaning: '待验证：Evidence 已提交，尚未完成验证或结算' }
                    estimated: { amount: 0, meaning: '模拟估算：内测模型估算，不代表承诺或未来价值' }
                    source: not_yet_wired
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/operator/me/evidence:
    get:
      operationId: getOperatorEvidence
      summary: Read your contribution evidence
      description: |
        **Live, but the read-only Evidence source is not connected.** Returns `count: 0`,
        `evidence: []` and `"source": "not_yet_wired"`. Treat an empty list here as "unknown",
        not as "you contributed nothing".
      tags: [Economics]
      x-ln-status: not_yet_wired
      responses:
        '200':
          description: Evidence envelope.
          content:
            application/json:
              schema:
                type: object
                required: [operator_did, count, evidence, source]
                properties:
                  operator_did: { $ref: '#/components/schemas/Did' }
                  count: { type: integer }
                  evidence: { type: array, items: { type: object } }
                  source: { type: string, const: not_yet_wired }
                  note: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/bindings/initiate:
    post:
      operationId: initiateBinding
      summary: Open a binding session (node side)
      description: |
        A node asks to be adopted by an operator. It signs a canonical description of what it is
        and what permissions it wants, and gets back a human-readable `short_code` and a
        `binding_token`.

        **Both are returned exactly once and never again.** They are stored only as SHA-256
        hashes. If you lose them, cancel the session and start over.

        The registry enforces `0 < expires_at - created_at <= 600s`. A node cannot grant itself a
        longer window than the protocol allows.
      tags: [Binding]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BindingInitiateRequest' }
      responses:
        '200':
          description: Session opened. Save `short_code` and `binding_token` now.
          content:
            application/json:
              schema:
                type: object
                required: [binding_session_id, short_code, binding_token, expires_at, state]
                properties:
                  binding_session_id: { type: string }
                  short_code:
                    type: string
                    description: |
                      Human-typeable code from the alphabet `23456789ABCDEFGHJKMNPQRSTUVWXYZ` —
                      no `I`, `O`, `0` or `1`, so it survives being read aloud.
                  binding_token: { type: string, description: 128-bit token, base58. }
                  expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }
                  state: { const: INITIATED }
        '400':
          description: '`TTL_TOO_LONG`, `ALREADY_EXPIRED`, or a missing required field.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '401':
          description: '`ID_BINDING_FAILED`, `ID_BINDING_REQUIRED`, or `BAD_SIGNATURE`.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: '`SESSION_EXISTS` — that `binding_session_id` was already used.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/bindings/resolve:
    post:
      operationId: resolveBinding
      summary: Redeem a binding code (console side)
      description: |
        The operator's console redeems the `short_code` (or `binding_token`) and sees exactly what
        the node is requesting, including a fingerprint of its public key to compare out-of-band.

        Anti-enumeration is deliberate here: after 5 failed attempts on a code within 600s you get
        `429`, and *every* failure returns the same generic `404` — not found, expired and already
        used are indistinguishable, so the endpoint cannot be used to probe for valid codes.
      tags: [Binding]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Supply at least one of `binding_token` or `short_code`.
              anyOf:
                - { required: [binding_token] }
                - { required: [short_code] }
              properties:
                binding_token: { type: string }
                short_code: { type: string }
      responses:
        '200':
          description: What the node is asking for.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BindingResolveResponse' }
        '404':
          description: '`NOT_FOUND` — deliberately generic (invalid, expired or already used).'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '429':
          description: '`RATE_LIMITED` — 5 failed attempts on this code within 600s.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/bindings/authorize:
    post:
      operationId: authorizeBinding
      summary: Authorize a binding (operator side)
      description: |
        The operator's **device key** signs an AuthorizationCredential naming the node and the
        limits it may operate under. The registry verifies the whole chain
        Root → Device → Authorization, and refuses any authorization whose scope exceeds what the
        node asked for.

        The operator's root key never touches this request. It signed the DeviceCredential once,
        offline; the device key does the day-to-day work.
      tags: [Binding]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [binding_session_id, device_credential, authorization_credential]
              properties:
                binding_session_id: { type: string }
                device_credential: { $ref: '#/components/schemas/DeviceCredential' }
                authorization_credential: { $ref: '#/components/schemas/AuthorizationCredential' }
      responses:
        '200':
          description: Authorized — now waiting on the node to accept.
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding_session_id: { type: string }
                  state: { const: PENDING_NODE_ACCEPTANCE }
        '401':
          description: The credential chain failed. `code` names the failing gate.
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: '`BAD_STATE` — the session is not awaiting an operator.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/bindings/{binding_session_id}/status:
    get:
      operationId: getBindingStatus
      summary: Poll a binding session
      tags: [Binding]
      security: []
      x-ln-status: implemented
      parameters:
        - { name: binding_session_id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Current state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding_session_id: { type: string }
                  state: { $ref: '#/components/schemas/BindingState' }
                  node_did: { $ref: '#/components/schemas/Did' }
                  operator_did: { oneOf: [ { $ref: '#/components/schemas/Did' }, { type: 'null' } ] }
                  expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/bindings/{binding_session_id}/cancel:
    post:
      operationId: cancelBinding
      summary: Cancel a binding session
      tags: [Binding]
      security: []
      x-ln-status: implemented
      parameters:
        - { name: binding_session_id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Cancelled. The code and token are invalidated immediately.
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding_session_id: { type: string }
                  state: { const: CANCELLED }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: '`BAD_STATE` — already terminal.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/node/bindings/pending:
    post:
      operationId: listPendingBindings
      summary: Poll for authorizations awaiting this node
      description: |
        The node proves who it is on every poll — there is no session for nodes. It signs
        `"libertynet-node-poll:v1\n<node_did>\n<unix_ts>"` and the registry checks id-binding,
        then timestamp skew (±300s), then the signature.
      tags: [Node]
      security: []
      x-ln-status: implemented
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [node_did, node_public_key, ts, signature]
              properties:
                node_did: { $ref: '#/components/schemas/Did' }
                node_public_key: { $ref: '#/components/schemas/PublicKeyB58' }
                ts: { type: integer, description: Unix seconds, within ±300s of registry time. }
                signature: { type: string, description: Base58 Ed25519 over the domain-separated poll message. }
      responses:
        '200':
          description: Sessions waiting for this node to accept.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending:
                    type: array
                    items:
                      type: object
                      properties:
                        binding_session_id: { type: string }
                        operator_did: { $ref: '#/components/schemas/Did' }
                        nonce: { type: string }
                        expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }
                        device_credential: { $ref: '#/components/schemas/DeviceCredential' }
                        authorization_credential: { $ref: '#/components/schemas/AuthorizationCredential' }
        '401':
          description: '`ID_BINDING_FAILED`, `STALE_TS`, or `BAD_SIGNATURE`.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/node/bindings/{binding_session_id}/accept:
    post:
      operationId: acceptBinding
      summary: Accept a binding (node side)
      description: |
        The final step. Before writing anything, the registry re-verifies **all four signatures**
        atomically — node session, operator root over device, device over authorization, and node
        acceptance. Only then does the session become `ACTIVE`.

        A failure here reverts the session to `PENDING_NODE_ACCEPTANCE` rather than destroying it,
        so a transient client bug does not burn the binding.
      tags: [Node]
      security: []
      x-ln-status: implemented
      parameters:
        - { name: binding_session_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [acceptance]
              properties:
                acceptance:
                  type: object
                  description: Node's signed acceptance of the specific authorization.
      responses:
        '200':
          description: Binding is ACTIVE.
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding_session_id: { type: string }
                  state: { const: ACTIVE }
                  binding: { type: object, description: The stored operator↔node relation. }
        '401':
          description: A signature in the chain failed re-verification.
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: '`ALREADY_ACTIVE` or `BAD_STATE`.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /v1/node/bindings/{binding_session_id}/reject:
    post:
      operationId: rejectBinding
      summary: Reject a binding (node side)
      tags: [Node]
      security: []
      x-ln-status: implemented
      parameters:
        - { name: binding_session_id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Rejected.
          content:
            application/json:
              schema:
                type: object
                properties:
                  binding_session_id: { type: string }
                  state: { const: REJECTED_BY_NODE }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: '`BAD_STATE` — already terminal.'
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # The Coordination API. These operations are NOT on the document-level server — each carries
  # its own `servers` entry pointing at the public gateway. Generated from the contract that
  # gateway actually serves; see tools/sync-coordination-spec.mjs. Do not edit by hand.
  # >>> BEGIN generated coordination paths
  /healthz:
    get:
      summary: "Liveness probe"
      x-ln-status: implemented
      operationId: "healthz"
      tags:
        - "Coordination"
      responses:
        "200":
          description: "Gateway is up"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationHealth"
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /version:
    get:
      summary: "Contract and build version"
      x-ln-status: implemented
      operationId: "version"
      tags:
        - "Coordination"
      responses:
        "200":
          description: "Version information"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationVersion"
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /openapi.json:
    get:
      summary: "This document"
      x-ln-status: implemented
      operationId: "openapi"
      tags:
        - "Coordination"
      responses:
        "200":
          description: "The OpenAPI document"
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/intents:
    post:
      summary: "Submit an Intent"
      description: "Opens a coordination session. Submitting an identical Intent twice is a no-op — the same session is returned with `duplicate: true` — because the Intent id is derived from its content."
      x-ln-status: implemented
      operationId: "submit_intent"
      tags:
        - "Coordination"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/CoordinationSignedRequest"
      responses:
        "200":
          description: "Session opened"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationSubmitIntentResponse"
        "400":
          "$ref": "#/components/responses/CoordinationError"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeBody: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/proposal:
    get:
      summary: "Get the recommended proposal and its alternatives"
      description: "**Changed in contract 3.0.0:** requires a signed `get_proposal` envelope in `x-ln-signed-request`, whose `payload.session_id` matches the URL. Only the session's requester may read it.\n\nThis read was unauthenticated before 3.0.0. Because `session_id` is derived from content, that was a disclosure vulnerability rather than an omission — see the *Authentication* and *Derived identifiers* sections."
      x-ln-status: implemented
      operationId: "get_proposal"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      responses:
        "200":
          description: "Proposal set"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationGetProposalResponse"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/commitment:
    post:
      summary: "Prepare the draft Commitment for signing"
      description: "Draft the Commitment the requester will be asked to sign.\n\n**Changed in contract 3.0.0:** this is a write and now requires a signed `prepare_commitment` envelope as the request body. It previously accepted a bare `{\"proposal_id\": \"...\"}` with no envelope, so anyone who could name a session could drive its commitment preparation.\n\nSign the returned Commitment's `signing_bytes` and pass the signature to `authorize_proposal`."
      x-ln-status: implemented
      operationId: "prepare_commitment"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/CoordinationSignedRequest"
            example:
              operation: "prepare_commitment"
              payload:
                session_id: "sess_00000000000000000000000000000000"
                proposal_id: "prop_..."
      responses:
        "200":
          description: "Draft commitment"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationCommitment"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeBody: []
    get:
      summary: "Get the session's Commitment, if one exists"
      description: "**Changed in contract 3.0.0:** requires a signed `get_commitment` envelope in `x-ln-signed-request`, whose `payload.session_id` matches the URL. Only the session's requester may read it.\n\nThis read was unauthenticated before 3.0.0. Because `session_id` is derived from content, that was a disclosure vulnerability rather than an omission — see the *Authentication* and *Derived identifiers* sections."
      x-ln-status: implemented
      operationId: "get_commitment"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      responses:
        "200":
          description: "Commitment"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationCommitment"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/authorize:
    post:
      summary: "Authorize the proposal and start execution"
      description: "Activates the Commitment and hands the work to the coordination layer, which schedules it onto a real node. This call may take as long as the delivery does; poll `status` instead if you do not want to hold a connection open."
      x-ln-status: implemented
      operationId: "authorize_proposal"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/CoordinationSignedRequest"
      responses:
        "200":
          description: "Authorized"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationAuthorizeProposalResponse"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "409":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeBody: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/cancel:
    post:
      summary: "Cancel the session"
      x-ln-status: implemented
      operationId: "cancel_session"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              "$ref": "#/components/schemas/CoordinationSignedRequest"
      responses:
        "200":
          description: "Cancelled"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationSessionStatusView"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "409":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeBody: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}:
    get:
      summary: "Session status"
      description: "**Changed in contract 3.0.0:** requires a signed `get_session_status` envelope in `x-ln-signed-request`, whose `payload.session_id` matches the URL. Only the session's requester may read it.\n\nThis read was unauthenticated before 3.0.0. Because `session_id` is derived from content, that was a disclosure vulnerability rather than an omission — see the *Authentication* and *Derived identifiers* sections."
      x-ln-status: implemented
      operationId: "get_session_status"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      responses:
        "200":
          description: "Status"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationSessionStatusView"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/result:
    get:
      summary: "Delivered result"
      description: "**Changed in contract 3.0.0:** requires a signed `get_result` envelope in `x-ln-signed-request`, whose `payload.session_id` matches the URL. Only the session's requester may read it.\n\nThis read was unauthenticated before 3.0.0. Because `session_id` is derived from content, that was a disclosure vulnerability rather than an omission — see the *Authentication* and *Derived identifiers* sections."
      x-ln-status: implemented
      operationId: "get_result"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      responses:
        "200":
          description: "Result"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationResultView"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/receipt:
    get:
      summary: "Final receipt"
      description: "Every terminal state produces a receipt, including failure and cancellation — a business that delivered nothing still needs an auditable record of why.\n\n**Changed in contract 3.0.0:** requires a signed `get_receipt` envelope in `x-ln-signed-request`, whose `payload.session_id` matches the URL. Only the session's requester may read it.\n\nThis read was unauthenticated before 3.0.0. Because `session_id` is derived from content, that was a disclosure vulnerability rather than an omission — see the *Authentication* and *Derived identifiers* sections."
      x-ln-status: implemented
      operationId: "get_receipt"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      responses:
        "200":
          description: "Receipt"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationReceiptView"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/objects:
    post:
      summary: "Upload an input object"
      description: "Upload a object. The request body is the raw bytes.\n\n**Changed in contract 3.0.0:** requires a signed envelope in `x-ln-signed-request`. This was previously open to anyone — there was a 64 MB body limit and no identity, no quota and no rate limit.\n\nThe envelope's `payload.content_digest` must be the lowercase hex SHA-256 of the body. The upload is refused with `hash_mismatch` if it is not, which is what stops a captured upload envelope being replayed with different bytes under your name.\n\nUpload objects **before** submitting the Intent that references them: the `object://` reference is minted here, not chosen by you.\n\nYou may read back only what you uploaded."
      x-ln-status: implemented
      operationId: "put_object"
      tags:
        - "Coordination"
      requestBody:
        required: true
        content:
          "application/octet-stream":
            schema:
              type: "string"
              format: "binary"
      responses:
        "200":
          description: "Stored"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationObjectRef"
        "400":
          "$ref": "#/components/responses/CoordinationError"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/objects/{object_id}:
    get:
      summary: "Download an object"
      description: "Download an object you uploaded, or the output of a session you own.\n\n**Changed in contract 3.0.0:** requires a signed `get_object` envelope whose `payload.object_id` matches the URL. This endpoint was previously open, and because `object_id` is a content digest, anyone holding the same bytes — or simply handed the digest — could download them.\n\n`not_found` and `not_authorized` are distinct: a content-addressed store must not confirm to a stranger whether a digest exists."
      x-ln-status: implemented
      operationId: "get_object"
      tags:
        - "Coordination"
      parameters:
        - name: "object_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Bytes"
          content:
            "application/octet-stream":
              schema:
                type: "string"
                format: "binary"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/runtimes:
    post:
      summary: "Register an executable runtime package"
      description: "Upload a runtime package. The request body is the raw bytes.\n\n**Changed in contract 3.0.0:** requires a signed envelope in `x-ln-signed-request`. This was previously open to anyone — there was a 64 MB body limit and no identity, no quota and no rate limit.\n\nThe envelope's `payload.content_digest` must be the lowercase hex SHA-256 of the body. The upload is refused with `hash_mismatch` if it is not, which is what stops a captured upload envelope being replayed with different bytes under your name.\n\nYou may read back only what you uploaded."
      x-ln-status: implemented
      operationId: "put_runtime"
      tags:
        - "Coordination"
      requestBody:
        required: true
        content:
          "application/wasm":
            schema:
              type: "string"
              format: "binary"
      responses:
        "200":
          description: "Registered"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationRuntimeRef"
        "400":
          "$ref": "#/components/responses/CoordinationError"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/capabilities:
    get:
      summary: "Capability catalogue"
      description: "What `CapabilityRequirement.capability_type` and `interface_version` may be set to, and the DID a requester must trust for their Intents to be schedulable.\n\nCall this **before** building your first Intent. Both fields are required in a signed Intent and their accepted values previously existed only in a platform source constant; getting `capability_type` wrong did not fail at submit but later, at `get_proposal`, as 'no capability passed qualification' — which names neither the field nor the mistake.\n\n`providers_available` is measured by a liveness probe at request time, not read off a config file. Zero available with a non-zero `providers_known` is a real and useful answer."
      x-ln-status: implemented
      operationId: "get_capabilities"
      tags:
        - "Coordination"
      responses:
        "200":
          description: "Catalogue"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationGetCapabilitiesResponse"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
        "500":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  /v1/sessions/{session_id}/events:
    get:
      summary: "Session events (polling snapshot — NOT a push stream)"
      description: "Returns a snapshot of the session's observable state as a one-element event list.\n\n**This is not a subscription.** There is no SSE and no WebSocket in this contract; the response says so itself via `stream: false`. Poll this, or `GET /v1/sessions/{session_id}`, at roughly `poll_after_ms`.\n\nIt exists in this shape so that the event surface is authenticated from its first day. If a real push stream is added later it will be a change to *how* events are delivered, not a new unauthenticated door — which is the mistake the read endpoints made before contract 3.0.0."
      x-ln-status: implemented
      operationId: "get_events"
      tags:
        - "Coordination"
      parameters:
        - "$ref": "#/components/parameters/CoordinationSessionId"
      responses:
        "200":
          description: "Snapshot"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/CoordinationSessionEventsResponse"
        "401":
          "$ref": "#/components/responses/CoordinationError"
        "403":
          "$ref": "#/components/responses/CoordinationError"
        "404":
          "$ref": "#/components/responses/CoordinationError"
        "429":
          "$ref": "#/components/responses/CoordinationError"
      security:
        - signedEnvelopeHeader: []
    servers:
      - url: "https://libertynet.ai/coordination"
        description: "Public coordination gateway"
  # <<< END generated coordination paths

components:
  securitySchemes:
    operatorSession:
      type: http
      scheme: bearer
      description: |
        A 1-hour session token from [`/v1/auth/device-login`](#operation/deviceLogin).
        Not an API key — it cannot be listed, rotated or recovered, and it expires on its own.

    # The Coordination API authenticates every call — reads included — with a signed envelope
    # rather than a bearer token. Nothing is issued to you and there is nothing to revoke: you
    # hold an Ed25519 key, and your DID is derived from it.
    signedEnvelopeHeader:
      type: apiKey
      in: header
      name: x-ln-signed-request
      description: |
        A `SignedRequest`, serialized to JSON and encoded as base64url without padding.

        Used by every coordination endpoint that has no JSON body of its own — all reads, and
        the two byte-upload endpoints. The envelope's `operation` must name the endpoint being
        called, and for session-scoped endpoints its `payload.session_id` must equal the one in
        the URL. Both bindings are enforced: without the first, an envelope signed for a read
        could be replayed against `authorize`; without the second, one captured read envelope
        would unlock every session for the rest of its freshness window.
    signedEnvelopeBody:
      type: apiKey
      in: header
      name: x-ln-signed-request-in-body
      description: |
        A documentation marker, **not** a real header — do not send it.

        OpenAPI cannot express "the request body is the credential", which is how
        `submit_intent`, `prepare_commitment`, `authorize_proposal` and `cancel_session`
        authenticate: their body *is* a `SignedRequest`. The `requestBody` schema on those
        operations is the authoritative statement.

  responses:
    BadRequest:
      description: Malformed request.
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Unauthorized:
      description: '`NO_SESSION` (no bearer header) or `SESSION_EXPIRED` (past its hour).'
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            missing: { value: { code: NO_SESSION, error: missing bearer token } }
    NotFound:
      description: '`NOT_FOUND`.'
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    # >>> BEGIN generated coordination responses
    CoordinationError:
      description: "Error"
      content:
        "application/json":
          schema:
            "$ref": "#/components/schemas/CoordinationError"
    # <<< END generated coordination responses

  parameters:
    # >>> BEGIN generated coordination parameters
    CoordinationSessionId:
      name: "session_id"
      in: "path"
      required: true
      schema:
        type: "string"
        pattern: "^sess_[0-9a-f]{32}$"
    # <<< END generated coordination parameters

  schemas:
    Error:
      type: object
      description: |
        Every error carries a stable machine-readable `code`. Look it up in the
        [error dictionary](https://docs.libertynet.ai/reference/errors) — each one is documented
        with its cause and its fix.
      required: [error]
      properties:
        code:
          type: string
          description: Stable identifier. Switch on this, never on `error`.
          examples: [NO_SESSION, ID_BINDING_FAILED, BAD_SIGNATURE, RATE_LIMITED]
        error:
          type: string
          description: Human-readable message. Wording may change between releases.

    Did:
      type: string
      description: |
        A self-certifying LibertyNet identity. The identifier is derived from the public key, so
        an id-binding check can confirm the pairing without any registry lookup.

        Two encodings exist for the same key and both are valid:
        short `did:svrp:n:<8hex>` (as stored in bindings) and full `did:svrp:<64hex>`
        (as announced by a running daemon). Do not assume string equality means same node, and do
        not assume inequality means different node.
      examples: ['did:svrp:n:8545027b', 'did:svrp:df9d4b9f390bc49b2210eca81ca3c54c4d63b37b739442a21e28f2ed5b8aa02d']

    PublicKeyHex:
      type: string
      pattern: '^[0-9a-f]{64}$'
      description: Ed25519 public key, lowercase hex.

    PublicKeyB58:
      type: string
      description: Ed25519 public key, base58.

    Rfc3339Utc:
      type: string
      description: RFC3339 UTC, `Z` suffix, second precision. Offsets other than `Z` are rejected.
      pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z$'
      examples: ['2026-07-31T16:33:08Z']

    NodeRecord:
      type: object
      properties:
        did: { $ref: '#/components/schemas/Did' }
        public_key: { $ref: '#/components/schemas/PublicKeyHex' }
        endpoint: { type: string, description: 'host:port as the node reported it.' }
        capabilities:
          type: array
          items: { type: string }
          description: 'Free-form capability strings, e.g. `inference`, `health:ready`.'
        region: { type: string, examples: [asia-southeast] }
        status: { type: string, examples: [active] }
        last_seen: { $ref: '#/components/schemas/Rfc3339Utc' }
        first_seen: { $ref: '#/components/schemas/Rfc3339Utc' }
        signature: { type: [string, 'null'] }
        reachability:
          type: string
          enum: [public, private, unroutable]
          description: |
            Computed by the registry at read time, never stored.

            `public` — routable address or hostname; you can try to reach it.
            `private` — RFC1918 or loopback; real to its operator, useless to you.
            `unroutable` — a `node://hostname` label with no dialable address.

            Absent on older registry versions. Treat absence as unknown, not as
            unreachable — hiding the whole network from anyone pointed at an older
            registry is a worse failure than showing an address that might not answer.
        signature_present:
          type: boolean
          description: Whether the record carries a registration signature at all.

    BoundNode:
      type: object
      properties:
        node_did: { $ref: '#/components/schemas/Did' }
        online:
          type: boolean
          description: Computed from `last_seen`, so you do not have to.
        last_seen: { oneOf: [ { $ref: '#/components/schemas/Rfc3339Utc' }, { type: 'null' } ] }
        endpoint: { type: [string, 'null'] }
        region: { type: [string, 'null'] }
        capabilities: { type: array, items: { type: string } }
        authorization:
          type: object
          description: The limits agreed when this binding was activated.
          properties:
            task_types: { type: [array, 'null'], items: { type: string } }
            single_limit: { type: [number, 'null'] }
            daily_limit: { type: [number, 'null'] }
            revocation_id: { type: [string, 'null'] }
            activated_at: { type: [string, 'null'] }

    CreditsBalance:
      type: object
      required: [operator_did, unit, settled, pending, estimated, source]
      properties:
        operator_did: { $ref: '#/components/schemas/Did' }
        unit: { type: string, const: test-credit }
        disclaimer: { type: string, description: Test unit. Not cash. Not redeemable. }
        settled: { $ref: '#/components/schemas/CreditsBucket' }
        pending: { $ref: '#/components/schemas/CreditsBucket' }
        estimated: { $ref: '#/components/schemas/CreditsBucket' }
        source:
          type: string
          enum: [not_yet_wired, ledger]
          description: |
            **Check this before rendering any amount.** `not_yet_wired` means no ledger is
            connected and every amount is a placeholder zero, not a measurement.

    CreditsBucket:
      type: object
      properties:
        amount: { type: number }
        meaning: { type: string }

    RegisterRequest:
      type: object
      required: [did, public_key, endpoint]
      properties:
        did: { $ref: '#/components/schemas/Did' }
        public_key: { $ref: '#/components/schemas/PublicKeyHex' }
        endpoint: { type: string }
        capabilities: { type: array, items: { type: string } }
        region: { type: string }
        signature: { type: [string, 'null'] }
        short_did: { $ref: '#/components/schemas/Did' }

    BindingState:
      type: string
      description: |
        Session state machine. Terminal states are `ACTIVE`, `EXPIRED`, `REJECTED_BY_OPERATOR`,
        `REJECTED_BY_NODE`, `CANCELLED` — once terminal, a session never moves again.
      enum:
        - INITIATED
        - PENDING_OPERATOR
        - PENDING_NODE_ACCEPTANCE
        - VERIFYING
        - ACTIVE
        - EXPIRED
        - REJECTED_BY_OPERATOR
        - REJECTED_BY_NODE
        - CANCELLED

    BindingInitiateRequest:
      type: object
      required: [binding_session_id, node_did, node_public_key, nonce, created_at, expires_at, node_signature]
      properties:
        binding_session_id: { type: string, description: Client-chosen unique id. Reuse returns 409. }
        node_did: { $ref: '#/components/schemas/Did' }
        node_public_key: { $ref: '#/components/schemas/PublicKeyB58' }
        device_summary: { type: [string, 'null'] }
        os: { type: [string, 'null'] }
        region: { type: [string, 'null'] }
        requested_task_types: { type: array, items: { type: string } }
        requested_single_limit: { type: [number, 'null'] }
        requested_daily_limit: { type: [number, 'null'] }
        nonce: { type: string }
        created_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        node_signature:
          type: string
          description: |
            Base58 Ed25519 over the canonical binding-session bytes. Canonicalisation is
            byte-exact — booleans serialise as `True`/`False` and keys are ordered by the
            canonicaliser, not by your JSON library. Use an SDK rather than rebuilding it.

    BindingResolveResponse:
      type: object
      properties:
        binding_session_id: { type: string }
        state: { $ref: '#/components/schemas/BindingState' }
        node_did: { $ref: '#/components/schemas/Did' }
        node_public_key: { $ref: '#/components/schemas/PublicKeyB58' }
        node_signature: { type: string }
        device_summary: { type: [string, 'null'] }
        os: { type: [string, 'null'] }
        region: { type: [string, 'null'] }
        node_public_key_fingerprint:
          type: string
          description: |
            First 8 bytes of SHA-256 over the key, grouped as `xxxx:xxxx:xxxx:xxxx`. Show this to
            the human and have them compare it against the node's own screen before authorizing.
          examples: ['a1b2:c3d4:e5f6:0718']
        requested:
          type: object
          properties:
            task_types: { type: array, items: { type: string } }
            single_limit: { type: [number, 'null'] }
            daily_limit: { type: [number, 'null'] }
        nonce: { type: string }
        expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }

    DeviceCredential:
      type: object
      description: |
        Issued once by the operator's **root** key, offline, to a specific device key. This is what
        lets the root key stay cold: the device key does everything afterwards, and revoking a
        device does not touch the root identity.

        **Every field below is signed over.** An earlier version of this schema omitted
        `device_id` and `revocation_id`, so a credential built strictly from it could not
        verify — the registry hashes nine fields and the spec described seven. Measured
        against the live registry: dropping either field from the signed bytes returns
        `401 DC_BAD_SIGNATURE`.

        The canonical bytes are `x-ln-canonical` below: the domain string, then the nine
        field values in that exact order, joined with `\n` and encoded UTF-8. `permissions`
        is joined with `,` after sorting; an absent list is the empty string. Order is not
        negotiable and neither is the sort — both are part of what the root key signed.
      required:
        - credential_id
        - operator_did
        - operator_root_public_key
        - device_id
        - device_public_key
        - issued_at
        - expires_at
        - revocation_id
        - signature
      x-ln-canonical:
        domain: 'libertynet-operator-device-credential:v1'
        fields:
          - credential_id
          - operator_did
          - operator_root_public_key
          - device_id
          - device_public_key
          - permissions        # sorted, comma-joined; "" when absent
          - issued_at
          - expires_at
          - revocation_id
      properties:
        credential_id: { type: string, description: Unique per credential. Signed. }
        operator_did: { $ref: '#/components/schemas/Did' }
        operator_root_public_key: { $ref: '#/components/schemas/PublicKeyB58' }
        device_id:
          type: string
          description: |
            Names the device this credential is for. Signed, and required — omitting it
            from the request currently returns `502` rather than a validation error.
          examples: ['laptop-2026']
        device_public_key: { $ref: '#/components/schemas/PublicKeyB58' }
        permissions:
          type: array
          items: { type: string }
          description: |
            Binding requires `nodes.bind`. Signed as a sorted comma-joined string, so
            reordering the array does not change the signature but adding to it does.
            May be omitted from the JSON; the signature must then be over `""`.
          examples: [['nodes.bind']]
        issued_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        revocation_id:
          type: string
          description: |
            Identifies this credential for revocation without touching the root identity.
            Signed, and required.
          examples: ['rev-3f2a1c9d4b7e']
        signature: { type: string, description: Base58 Ed25519 by the root key, over the bytes above. }

    AuthorizationCredential:
      type: object
      description: |
        Signed by the **device** key. Its scope may never exceed what the node requested — the
        registry checks and rejects over-broad authorizations.
      required: [binding_session_id, node_did, operator_did, issued_at, expires_at, signature]
      properties:
        binding_session_id: { type: string }
        node_did: { $ref: '#/components/schemas/Did' }
        operator_did: { $ref: '#/components/schemas/Did' }
        task_types: { type: array, items: { type: string } }
        single_limit: { type: [number, 'null'] }
        daily_limit: { type: [number, 'null'] }
        revocation_id: { type: string }
        issued_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        expires_at: { $ref: '#/components/schemas/Rfc3339Utc' }
        signature: { type: string, description: Base58 Ed25519 by the device key. }
    # >>> BEGIN generated coordination schemas
    CoordinationHealth:
      type: "object"
      required:
        - "status"
      properties:
        status:
          type: "string"
          enum:
            - "ok"
    CoordinationVersion:
      type: "object"
      required:
        - "contract_version"
      properties:
        contract_version:
          type: "string"
        gateway_version:
          type: "string"
    CoordinationError:
      type: "object"
      required:
        - "code"
        - "message"
        - "retryable"
      properties:
        code:
          type: "string"
          enum:
            - "schema_invalid"
            - "signature_missing"
            - "signature_invalid"
            - "id_binding_failed"
            - "stale_request"
            - "not_authorized"
            - "not_found"
            - "invalid_state"
            - "hash_mismatch"
            - "rate_limited"
            - "capability_unavailable"
            - "verification_failed"
            - "deadline_exceeded"
            - "internal"
        message:
          type: "string"
        retryable:
          type: "boolean"
          description: "Whether repeating the identical request could plausibly succeed later. A property of `code`, published in this contract — not a per-response judgement. True means the platform's state or load must change; false means your request must change."
        retry_after_ms:
          type:
            - "integer"
            - "null"
          format: "int64"
          description: "Minimum wait before retrying, in milliseconds. Present when `retryable` is true and waiting can help. Mirrored, rounded up to whole seconds, in the `Retry-After` header."
      description: "The error body served by every failing endpoint.\n\n| code | HTTP | retryable | meaning |\n|---|---|---|---|\n| `schema_invalid` | 400 | no | the request did not match the published schema |\n| `hash_mismatch` | 400 | no | a hash binding did not hold (commitment vs proposal, or upload bytes vs signed digest) |\n| `signature_missing` | 401 | no | no signature where one was required |\n| `signature_invalid` | 401 | no | the signature did not verify over the canonical bytes |\n| `id_binding_failed` | 401 | no | the public key presented does not derive the DID claimed |\n| `stale_request` | 401 | no | timestamp outside the 300000 ms freshness window — re-sign, do not replay |\n| `not_authorized` | 403 | no | authenticated, but not entitled to this session or object |\n| `not_found` | 404 | no | no such object |\n| `invalid_state` | 409 | no | not legal from the object's current state |\n| `verification_failed` | 409 | no | the delivery ran and its evidence did not pass verification; the Receipt carries the reason |\n| `rate_limited` | 429 | **yes** | too many requests; obey `Retry-After` |\n| `capability_unavailable` | 503 | **yes** | well-formed, but no matching capability is available right now — check `GET /v1/capabilities` |\n| `deadline_exceeded` | 504 | **yes** | the work exceeded the Intent's deadline; retrying means a new Intent with a new deadline |\n| `internal` | 500 | **yes** | a platform failure, deliberately opaque |\n"
    CoordinationObjectRef:
      type: "object"
      required:
        - "object_ref"
        - "digest"
        - "size_bytes"
      properties:
        object_ref:
          type: "string"
          pattern: "^object://input/[0-9a-f]{64}$"
          example: "object://input/9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
          description: "Names the uploaded bytes in an Intent's `input_refs`. Always an `object://` reference; a client that validates references will reject any other scheme."
        digest:
          "$ref": "#/components/schemas/CoordinationContentHash"
        size_bytes:
          type: "integer"
          format: "int64"
    CoordinationRuntimeRef:
      type: "object"
      required:
        - "runtime_digest"
        - "size_bytes"
      properties:
        runtime_digest:
          "$ref": "#/components/schemas/CoordinationContentHash"
          description: "Digest of the registered package. Name it in an Intent's `input_refs` as `runtime://<digest>`. Deliberately a different scheme from `object://`: a runtime is code the platform executes, an object is data it moves, and naming them alike would let an Intent point one at the other."
        size_bytes:
          type: "integer"
          format: "int64"
    CoordinationContentHash:
      type: "string"
      pattern: "^[0-9a-f]{64}$"
      description: "Lowercase hex SHA-256."
    CoordinationOperation:
      type: "string"
      enum:
        - "submit_intent"
        - "get_proposal"
        - "prepare_commitment"
        - "get_commitment"
        - "authorize_proposal"
        - "cancel_session"
        - "get_session_status"
        - "get_result"
        - "get_receipt"
        - "get_events"
        - "put_object"
        - "get_object"
        - "put_runtime"
        - "get_capabilities"
    CoordinationSignedRequest:
      type: "object"
      description: "The signed envelope. `signature` is a hex Ed25519 signature over the canonical encoding of every other field. `actor_public_key` is only *claimed* until id-binding proves it derives `actor_did` — the gateway checks binding before it checks the signature, because a valid signature under a foreign DID would otherwise authenticate as that DID."
      required:
        - "operation"
        - "request_id"
        - "idempotency_key"
        - "actor_did"
        - "actor_public_key"
        - "nonce"
        - "timestamp_ms"
        - "payload"
        - "signature"
      properties:
        operation:
          "$ref": "#/components/schemas/CoordinationOperation"
        request_id:
          type: "string"
        idempotency_key:
          type: "string"
          description: "Required for writes. One key means one effect."
        actor_did:
          type: "string"
          pattern: "^did:svrp:[hadrns]:[0-9a-f]{8}([0-9a-f]{2})?$"
        actor_public_key:
          type: "string"
          description: "Base58 Ed25519 public key."
        nonce:
          type: "string"
          description: "Required for writes. Single-use per actor."
        timestamp_ms:
          type: "integer"
          format: "int64"
        payload:
          type: "object"
          description: "Operation-specific; signed verbatim."
        signature:
          type: "string"
          pattern: "^[0-9a-f]{128}$"
    CoordinationSecurityLevel:
      type: "string"
      enum:
        - "STANDARD"
        - "HIGH"
        - "CRITICAL"
    CoordinationVerificationStrength:
      type: "string"
      enum:
        - "STANDARD"
        - "INDEPENDENT"
    CoordinationSessionState:
      type: "string"
      enum:
        - "CREATED"
        - "PROPOSING"
        - "AWAITING_AUTHORIZATION"
        - "COMMITTED"
        - "PLANNING"
        - "SCHEDULING"
        - "EXECUTING"
        - "RECOVERING"
        - "VERIFYING"
        - "SETTLING"
        - "COMPLETED"
        - "FAILED"
        - "CANCELLED"
        - "SAFE_FROZEN"
    CoordinationReceiptOutcome:
      type: "string"
      enum:
        - "COMPLETED"
        - "FAILED"
        - "CANCELLED"
    CoordinationProviderRole:
      type: "string"
      enum:
        - "PRIMARY"
        - "STANDBY"
        - "VERIFIER"
    CoordinationCommitmentState:
      type: "string"
      enum:
        - "DRAFT"
        - "VALIDATING"
        - "SIGNED"
        - "ACTIVE"
        - "FULFILLED"
        - "REJECTED"
        - "EXPIRED"
        - "CANCELLED"
        - "BREACHED"
        - "DISPUTED"
    CoordinationAuthorizationPolicy:
      type: "object"
      required:
        - "auto_authorize_max_price"
        - "auto_authorize_max_risk_bps"
        - "allow_automatic_provider_switch"
      properties:
        auto_authorize_max_price:
          type: "integer"
          format: "int64"
        auto_authorize_max_risk_bps:
          type: "integer"
        allow_automatic_provider_switch:
          type: "boolean"
    CoordinationRecoveryPolicy:
      type: "object"
      required:
        - "max_retries_same_provider"
        - "max_provider_switches"
        - "heartbeat_timeout_ms"
        - "recovery_deadline_ms"
        - "resume_from_checkpoint"
      properties:
        max_retries_same_provider:
          type: "integer"
        max_provider_switches:
          type: "integer"
        heartbeat_timeout_ms:
          type: "integer"
          format: "int64"
        recovery_deadline_ms:
          type: "integer"
          format: "int64"
        resume_from_checkpoint:
          type: "boolean"
    CoordinationPolicySnapshot:
      type: "object"
      required:
        - "policy_version"
        - "budget_limit"
        - "min_security_level"
        - "verification_strength"
        - "allowed_regions"
        - "excluded_providers"
        - "max_risk_bps"
        - "min_stake"
        - "authorization"
        - "recovery"
        - "request_freshness_window_ms"
        - "proposal_validity_ms"
        - "require_signed_snapshots"
        - "trusted_snapshot_issuers"
        - "snapshot_freshness_window_ms"
        - "require_recovery_capability"
        - "preferred_region"
        - "max_domain_share_bps"
      properties:
        policy_version:
          type: "integer"
        budget_limit:
          type: "integer"
          format: "int64"
        min_security_level:
          "$ref": "#/components/schemas/CoordinationSecurityLevel"
        verification_strength:
          "$ref": "#/components/schemas/CoordinationVerificationStrength"
        allowed_regions:
          type: "array"
          items:
            type: "string"
        excluded_providers:
          type: "array"
          items:
            type: "string"
        max_risk_bps:
          type: "integer"
        min_stake:
          type: "integer"
          format: "int64"
        authorization:
          "$ref": "#/components/schemas/CoordinationAuthorizationPolicy"
        recovery:
          "$ref": "#/components/schemas/CoordinationRecoveryPolicy"
        request_freshness_window_ms:
          type: "integer"
          format: "int64"
        proposal_validity_ms:
          type: "integer"
          format: "int64"
        require_signed_snapshots:
          type: "boolean"
          description: "Must every Scheduler scoring input arrive as a verified, signed snapshot (PLANNER-001 §11.3)? Defaults to true."
          default: true
        trusted_snapshot_issuers:
          type: "array"
          items:
            type: "string"
          description: "DIDs authorized to issue snapshot readings. Empty means nobody — deny-by-default, and every task is then UNSCHEDULABLE. List the coordinator DID that the gateway logs at startup."
        snapshot_freshness_window_ms:
          type: "integer"
          format: "int64"
          description: "How old a signed reading may be before it is refused."
        require_recovery_capability:
          type: "boolean"
          description: "Must a candidate support the checkpoint resume the Plan requires (PLANNER-001 §6.1)?"
          default: true
        preferred_region:
          type:
            - "string"
            - "null"
          description: "Preferred region for the scoring Locality term. Null means locality decides nothing. This is a preference, not the allowed_regions gate."
        max_domain_share_bps:
          type: "integer"
          format: "int32"
          description: "Maximum share, in basis points, of one Assignment's slots (primary + standbys) that a single provider or failure domain may occupy (PLANNER-001 §6.2)."
    CoordinationCapabilityRequirement:
      type: "object"
      required:
        - "capability_type"
        - "interface_version"
        - "capacity"
      properties:
        capability_type:
          type: "string"
        interface_version:
          type: "string"
        capacity:
          type: "integer"
          format: "int64"
    CoordinationIntent:
      type: "object"
      description: "Signed. Its canonical bytes must match the platform's exactly."
      required:
        - "intent_id"
        - "intent_version"
        - "requester_did"
        - "goal"
        - "expected_result"
        - "input_refs"
        - "capability_requirement"
        - "budget_limit"
        - "deadline_ms"
        - "policy"
        - "created_at_ms"
      properties:
        intent_id:
          type: "string"
          description: "Derived from content."
        intent_version:
          type: "integer"
        requester_did:
          type: "string"
        goal:
          type: "string"
        expected_result:
          type: "string"
        input_refs:
          type: "array"
          items:
            type: "string"
        capability_requirement:
          "$ref": "#/components/schemas/CoordinationCapabilityRequirement"
        budget_limit:
          type: "integer"
          format: "int64"
        deadline_ms:
          type: "integer"
          format: "int64"
        policy:
          "$ref": "#/components/schemas/CoordinationPolicySnapshot"
        created_at_ms:
          type: "integer"
          format: "int64"
    CoordinationCommitmentSignature:
      type: "object"
      required:
        - "signer_did"
        - "public_key"
        - "signature"
      properties:
        signer_did:
          type: "string"
        public_key:
          type: "string"
        signature:
          type: "string"
    CoordinationCommitment:
      type: "object"
      description: "Signed by the requester. `signatures` and `state` are excluded from the signing bytes, so adding a signature or advancing the lifecycle does not invalidate signatures already made."
      required:
        - "commitment_id"
        - "session_id"
        - "proposal_id"
        - "proposal_hash"
        - "proposal_version"
        - "intent_id"
        - "intent_version"
        - "commitment_version"
        - "requester_did"
        - "provider_set"
        - "delivery_result"
        - "agreed_price"
        - "maximum_price"
        - "deadline_ms"
        - "security_requirements"
        - "verification_requirements"
        - "recovery_requirements"
        - "refund_rule"
        - "compensation_rule"
        - "cancellation_rule"
        - "dispute_rule"
        - "policy_hash"
        - "signatures"
        - "state"
        - "created_at_ms"
        - "expires_at_ms"
      properties:
        commitment_id:
          type: "string"
        session_id:
          type: "string"
        proposal_id:
          type: "string"
        proposal_hash:
          "$ref": "#/components/schemas/CoordinationContentHash"
        proposal_version:
          type: "integer"
        intent_id:
          type: "string"
        intent_version:
          type: "integer"
        commitment_version:
          type: "integer"
        requester_did:
          type: "string"
        provider_set:
          type: "array"
          items:
            type: "string"
        delivery_result:
          type: "string"
        agreed_price:
          type: "integer"
          format: "int64"
          description: "What it is expected to cost — not the ceiling."
        maximum_price:
          type: "integer"
          format: "int64"
          description: "Absolute ceiling. Settlement never exceeds it."
        deadline_ms:
          type: "integer"
          format: "int64"
        security_requirements:
          "$ref": "#/components/schemas/CoordinationSecurityLevel"
        verification_requirements:
          "$ref": "#/components/schemas/CoordinationVerificationStrength"
        recovery_requirements:
          "$ref": "#/components/schemas/CoordinationRecoveryPolicy"
        refund_rule:
          type: "string"
        compensation_rule:
          type: "string"
        cancellation_rule:
          type: "string"
        dispute_rule:
          type: "string"
        policy_hash:
          "$ref": "#/components/schemas/CoordinationContentHash"
        signatures:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationCommitmentSignature"
        state:
          "$ref": "#/components/schemas/CoordinationCommitmentState"
        created_at_ms:
          type: "integer"
          format: "int64"
        expires_at_ms:
          type: "integer"
          format: "int64"
    CoordinationPrepareCommitmentRequest:
      type: "object"
      required:
        - "proposal_id"
        - "intent"
      properties:
        proposal_id:
          type: "string"
        intent:
          "$ref": "#/components/schemas/CoordinationIntent"
    CoordinationBundleMemberView:
      type: "object"
      required:
        - "role"
        - "provider_did"
        - "region"
        - "price"
      properties:
        role:
          "$ref": "#/components/schemas/CoordinationProviderRole"
        provider_did:
          type: "string"
        region:
          type: "string"
        price:
          type: "integer"
          format: "int64"
    CoordinationProposalView:
      type: "object"
      required:
        - "proposal_id"
        - "session_id"
        - "intent_id"
        - "intent_version"
        - "proposal_version"
        - "bundle"
        - "delivery_result"
        - "estimated_price"
        - "maximum_price"
        - "estimated_completion_ms"
        - "delivery_probability_bps"
        - "security_level"
        - "verification_strength"
        - "risk_bps"
        - "trust_bps"
        - "recovery_strategy"
        - "refund_rule"
        - "compensation_rule"
        - "selected_because"
        - "authorization_required"
        - "valid_until_ms"
        - "created_at_ms"
      properties:
        proposal_id:
          type: "string"
        session_id:
          type: "string"
        intent_id:
          type: "string"
        intent_version:
          type: "integer"
        proposal_version:
          type: "integer"
        bundle:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationBundleMemberView"
        delivery_result:
          type: "string"
        estimated_price:
          type: "integer"
          format: "int64"
        maximum_price:
          type: "integer"
          format: "int64"
        estimated_completion_ms:
          type: "integer"
          format: "int64"
        delivery_probability_bps:
          type: "integer"
          description: "Basis points. An integer because a float would break the hash it feeds."
        security_level:
          "$ref": "#/components/schemas/CoordinationSecurityLevel"
        verification_strength:
          "$ref": "#/components/schemas/CoordinationVerificationStrength"
        risk_bps:
          type: "integer"
        trust_bps:
          type: "integer"
        recovery_strategy:
          type: "string"
        refund_rule:
          type: "string"
        compensation_rule:
          type: "string"
        selected_because:
          type: "array"
          items:
            type: "string"
        authorization_required:
          type: "boolean"
          description: "Per proposal, so a client never has to re-implement authorization policy."
        valid_until_ms:
          type: "integer"
          format: "int64"
        created_at_ms:
          type: "integer"
          format: "int64"
    CoordinationLeaseRefView:
      type: "object"
      required:
        - "lease_id"
        - "task_id"
        - "provider_did"
        - "epoch"
        - "fencing_token"
        - "granted_at_ms"
        - "expires_at_ms"
      properties:
        lease_id:
          type: "string"
        task_id:
          type: "string"
        provider_did:
          type: "string"
        epoch:
          type: "integer"
          format: "int64"
          description: "Monotonic per task. A higher epoch kills every lower one."
        fencing_token:
          type: "integer"
          format: "int64"
          description: "Monotonic. An old token is permanently refused."
        granted_at_ms:
          type: "integer"
          format: "int64"
        expires_at_ms:
          type: "integer"
          format: "int64"
    CoordinationEvidenceRefView:
      type: "object"
      required:
        - "evidence_id"
        - "task_id"
        - "provider_did"
        - "output_digest"
        - "evidence_hash"
        - "submitted_at_ms"
      properties:
        evidence_id:
          type: "string"
        task_id:
          type: "string"
        provider_did:
          type: "string"
        output_digest:
          "$ref": "#/components/schemas/CoordinationContentHash"
        evidence_hash:
          "$ref": "#/components/schemas/CoordinationContentHash"
        submitted_at_ms:
          type: "integer"
          format: "int64"
        input_digest:
          "$ref": "#/components/schemas/CoordinationContentHash"
    CoordinationVerificationRefView:
      type: "object"
      required:
        - "verification_id"
        - "task_id"
        - "evidence_id"
        - "passed"
        - "reason_code"
        - "verifier_did"
        - "decided_at_ms"
      properties:
        verification_id:
          type: "string"
        task_id:
          type: "string"
        evidence_id:
          type: "string"
        passed:
          type: "boolean"
        reason_code:
          type: "string"
        verifier_did:
          type: "string"
        decided_at_ms:
          type: "integer"
          format: "int64"
    CoordinationSettlementRefView:
      type: "object"
      required:
        - "settlement_id"
        - "settlement_key"
        - "amount"
        - "payer_did"
        - "payee_did"
        - "completed_at_ms"
      properties:
        settlement_id:
          type: "string"
        settlement_key:
          type: "string"
        amount:
          type: "integer"
          format: "int64"
        payer_did:
          type: "string"
        payee_did:
          type: "string"
        completed_at_ms:
          type: "integer"
          format: "int64"
    CoordinationReceiptView:
      type: "object"
      required:
        - "receipt_id"
        - "session_id"
        - "outcome"
        - "verifications"
        - "evidence_hashes"
        - "deliverable"
        - "cost"
        - "duration_ms"
        - "provider_summary"
        - "completed_at_ms"
      properties:
        receipt_id:
          type: "string"
        session_id:
          type: "string"
        commitment_id:
          type: "string"
        outcome:
          "$ref": "#/components/schemas/CoordinationReceiptOutcome"
        settlement:
          "$ref": "#/components/schemas/CoordinationSettlementRefView"
        verifications:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationVerificationRefView"
        evidence_hashes:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationContentHash"
        deliverable:
          type: "string"
        cost:
          type: "integer"
          format: "int64"
        duration_ms:
          type: "integer"
          format: "int64"
        provider_summary:
          type: "array"
          items:
            type: "string"
        failure_reason:
          type: "string"
        completed_at_ms:
          type: "integer"
          format: "int64"
    CoordinationSessionStatusView:
      type: "object"
      required:
        - "session_id"
        - "state"
        - "intent_id"
        - "updated_at_ms"
      properties:
        session_id:
          type: "string"
        state:
          "$ref": "#/components/schemas/CoordinationSessionState"
        intent_id:
          type: "string"
        commitment_id:
          type: "string"
        active_proposal_id:
          type: "string"
        lease:
          "$ref": "#/components/schemas/CoordinationLeaseRefView"
        updated_at_ms:
          type: "integer"
          format: "int64"
    CoordinationResultView:
      type: "object"
      required:
        - "session_id"
        - "state"
        - "evidence"
        - "verifications"
      properties:
        session_id:
          type: "string"
        state:
          "$ref": "#/components/schemas/CoordinationSessionState"
        output_ref:
          type: "string"
        output_digest:
          "$ref": "#/components/schemas/CoordinationContentHash"
        evidence:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationEvidenceRefView"
        verifications:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationVerificationRefView"
    CoordinationSubmitIntentResponse:
      type: "object"
      required:
        - "session_id"
        - "intent_id"
        - "state"
        - "duplicate"
      properties:
        session_id:
          type: "string"
        intent_id:
          type: "string"
        state:
          "$ref": "#/components/schemas/CoordinationSessionState"
        duplicate:
          type: "boolean"
          description: "True when this exact Intent was already submitted. Still a success."
    CoordinationGetProposalResponse:
      type: "object"
      required:
        - "recommended"
        - "alternatives"
      properties:
        recommended:
          "$ref": "#/components/schemas/CoordinationProposalView"
        alternatives:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationProposalView"
    CoordinationAuthorizeProposalResponse:
      type: "object"
      required:
        - "session_id"
        - "commitment_id"
        - "state"
      properties:
        session_id:
          type: "string"
        commitment_id:
          type: "string"
        state:
          "$ref": "#/components/schemas/CoordinationSessionState"
    CoordinationSessionReadPayload:
      type: "object"
      required:
        - "session_id"
      description: "Payload of every session-scoped read. `session_id` must equal the one in the URL: without that binding one captured read envelope would authorize reading every session the actor could name, for the rest of its freshness window."
      properties:
        session_id:
          type: "string"
          pattern: "^sess_[0-9a-f]{32}$"
    CoordinationPrepareCommitmentPayload:
      type: "object"
      required:
        - "session_id"
        - "proposal_id"
      description: "Payload of `prepare_commitment`. Replaces the unsigned `{proposal_id}` body used before contract 3.0.0."
      properties:
        session_id:
          type: "string"
          pattern: "^sess_[0-9a-f]{32}$"
        proposal_id:
          type: "string"
    CoordinationUploadPayload:
      type: "object"
      required:
        - "content_digest"
      description: "Payload of `put_object` and `put_runtime`. The uploaded bytes are the request body, not part of the envelope — a copy in a header would double every upload and cap it at a header's size. The signature covers this digest instead, and the platform refuses the upload if the body does not hash to it, so a captured upload envelope cannot be reused to store different bytes under the original signer's name."
      properties:
        content_digest:
          type: "string"
          pattern: "^[0-9a-f]{64}$"
          description: "Lowercase hex SHA-256 of the raw request body."
    CoordinationObjectReadPayload:
      type: "object"
      required:
        - "object_id"
      description: "Payload of `get_object`. Must equal the `object_id` in the URL."
      properties:
        object_id:
          type: "string"
    CoordinationGetCapabilitiesPayload:
      type: "object"
      description: "Payload of `get_capabilities`. Empty today; an object rather than a scalar so filters can be added without changing its JSON shape."
      properties: {}
    CoordinationCapabilityDescriptor:
      type: "object"
      required:
        - "capability_type"
        - "interface_version"
        - "description"
        - "capacity_unit"
        - "providers_known"
        - "providers_available"
        - "regions"
      description: "One capability the platform will accept an Intent for."
      properties:
        capability_type:
          type: "string"
          description: "The exact string to put in `CapabilityRequirement.capability_type`."
        interface_version:
          type: "string"
          description: "The exact string to put in `CapabilityRequirement.interface_version`."
        description:
          type: "string"
        capacity_unit:
          type: "string"
          description: "The unit `CapabilityRequirement.capacity` is counted in, e.g. `vcpu`. Named because the number is meaningless without it."
        providers_known:
          type: "integer"
          description: "Providers this coordinator knows of that advertise this capability. A count, not a roster: which providers exist is not a requester's business."
        providers_available:
          type: "integer"
          description: "How many answered a liveness probe when this catalogue was assembled. Measured, not configured. Zero is a real answer and means an Intent for this capability is not schedulable right now."
        regions:
          type: "array"
          items:
            type: "string"
          description: "Regions those providers are in. Feeds `PolicySnapshot.allowed_regions` and `preferred_region`, which are otherwise unguessable."
        unit_price_min:
          type:
            - "integer"
            - "null"
          format: "int64"
        unit_price_max:
          type:
            - "integer"
            - "null"
          format: "int64"
          description: "Advertised unit price range, in the same integer unit as `budget_limit`. Absent — not zero — when no provider is known; a range of zero would read as 'free'."
    CoordinationGetCapabilitiesResponse:
      type: "object"
      required:
        - "capabilities"
        - "snapshot_issuer_did"
        - "observed_at_ms"
      properties:
        capabilities:
          type: "array"
          items:
            "$ref": "#/components/schemas/CoordinationCapabilityDescriptor"
        snapshot_issuer_did:
          type: "string"
          description: "The DID you must list in `PolicySnapshot.trusted_snapshot_issuers`. Read this before submitting anything: the default policy is deny-by-default — `trusted_snapshot_issuers` is empty, empty means nobody, and an Intent that trusts no issuer is UNSCHEDULABLE on every task with nothing in the response explaining why. Before contract 3.0.0 this value was only printed to the coordinator's stdout at startup."
[...]
